*
{
    margin: 0;
    padding: 0;
}
body
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(image/1.jpg);
    background-position: center;
    background-size: cover;
}
.logo
{
    width: 150px;
    margin-top: 18px;
}
.header
{
    height: 10%;
}
.header-btn
{
    text-decoration: none !important;
    border-radius: 30px;
    padding: 7px;
    float: right;
    margin-top: 15px;
    color: #fff !important;
    background: #107afd;
    font-weight: 600;
}
.movie-details
{
    margin: 3% 0;
}
.left-box
{
    color: #fff;
    margin: 15px 0;
    padding: 20px;
}
.casting img
{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}
.left-box a
{
    text-decoration: none !important;
    border-radius: 30px;
    padding: 7px 10px;
    margin-top: 35px;
    color: #fff !important;
    background: #107afd;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
}
.download-btn
{
    border: 1px solid #fff !important;
    background: transparent !important;
}
.fa
{
    margin: 0 5px;
}
.movie-img
{
    height: 350px;
    box-shadow: -4px 4px 5px 0 #747575;
}
.series h3
{
    color: #fff;
}
.series img
{
    width: 100%;
    margin-top: 15px;
    box-shadow: -4px 4px 5px 0 #747575;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}
.series img:hover{
    transform: translateY(-20px);
}
.playButtons{display: none}

.transformar:hover{
transform: scale(2);
}



/* Container needed to position the button. Adjust the width as needed */
.col-6 {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .col-6 img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .col-6 .btn {
    top: 70%;
    left: 70%;
    background-color: #9e161f;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  
    width: 100%;
    margin-top: 0px;
    transition: 0.5s;
  }
  
  .col-6 .btn:hover {
    background-color: #9e161f;
    opacity: 10;
    transform: translateY(-10px);
    transition: 1s;
  }
